# Compiled output
/node_modules
/dist
/tmp
/out-tsc
/bazel-out
npm-debug.log
yarn-error.log
package-lock.json

# IDEs and editors
*.iml
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Angular
.angular/

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
