.dialog-in {
    animation: dialog-fade-in 0.15s;
}
.backdrop-in {
    animation: backdrop-fade-in 0.3s;
}
.container-out {
    animation: backdrop-fade-out 0.3s;
}

@keyframes backdrop-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes backdrop-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dialog-fade-in {
    0% {
        border-radius: 50%;
        transform: scaleX(0) scaleY(0);
    }
    50% {
        transform: scaleX(0.5) scaleY(1);
    }
    100% {
        border-radius: 0;
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes dialog-fade-out {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(0);
    }
}